<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">
<head>
  <title>Ajout d'un topic</title>
</head>


<section layout:fragment="mainContent">

  <form class="col s12" action="#" th:action="@{'/projets/'+ ${projet.id}+'/topics/save'}"
        th:object="${topic}" th:method="post">

    <!-- ID -->
    <div class="row">
      <div class="input-field col s12">
        <input id="id" hidden="true" th:field="*{id}"/>
      </div>
    </div>

    <!-- NOM -->
    <div class="row">
      <div th:if="${#fields.hasErrors('nom')}">
        <div class="col s12 card-panel red darken-1 center-align">
          <span th:errors="*{nom}"/>
        </div>
      </div>

      <div class="input-field col s12">
        <input id="nom" type="text" th:field="*{nom}"/>
        <label for="nom"><span th:text="#{topic.name}"></span></label>
      </div>
    </div>

    <!-- CHECKBOX ACTIVE -->
    <div>
      <p>
        <input id="active" type="checkbox" class="filled-in" th:field="*{ouvert}"/>
        <label for="active"><span th:text="#{topic.active}"/></label>
      </p>
    </div>

    <!-- DROITS DES UTILISATEURS -->
    <div th:replace="layout/rights :: rights"></div>

    <!-- SUBMIT -->
    <button class="btn waves-effect waves-light" type="submit" name="action">
      <span th:text="*{id} != null ? #{edit} : #{add}"></span>
      <i class="material-icons right">send</i>
    </button>

  </form>
</section>

<script layout:fragment="script" th:replace="layout/rights :: rights_js">
</script>

</html>