<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layout/main">
<head>
  <title>Topics</title>
</head>


<section layout:fragment="mainContent">

  <div th:unless="${follow}">
    <a th:if="${@userPermissionEvaluator.hasPermission(null, projet, T(com.miage.m2.webappforum.entity.TypePermissionEnum).WRITE) or #authorization.expression('hasRole(''ADMIN'')')}"
       th:href="@{'/projets/'+ ${projet.id}+'/topics/add'}">
      <span th:text="#{add}"></span>
    </a>
  </div>

  <table class="striped">
    <thead>
    <tr>
      <th><span th:text="#{topic.name}"></span></th>
      <th><span th:text="#{topic.bool}"></span></th>
      <th><span th:text="#{topic.lastPost}"></span></th>
      <th sec:authorize="isAuthenticated()"><span th:text="#{topic.follow}"></span></th>
      <th sec:authorize="hasRole('ADMIN')"><span th:text="#{edit}"></span></th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="topic : ${topicList}">
      <td>
        <a th:href="@{'/projets/'+ ${topic.projet.id}+'/topics/'+${topic.id}+'/messages'}">
          <h5 th:text="${topic?.nom}"/>
        </a>
      </td>
      <td>
        <p th:text="${topic?.ouvert}"/>
      </td>
      <td>
        <span th:text="#{topic.by}"></span>
        <p th:text="${topic?.createur?.pseudo}"/>
        <p th:text="${topic?.creation}"/>
      </td>
      <td sec:authorize="isAuthenticated()">
        <form class="col s12" action="#" th:action="@{'/topics/'+ ${topic.id}+'/follow'}"
              th:method="post">
          <button class="btn-floating btn-large yellow" type="submit" name="action">
            <i class="material-icons"
               th:text="${topic.followedByUser} == true ? 'visibility' : 'visibility_off'"></i>
          </button>
        </form>
        <!-- <a class="btn-floating btn-large yellow" th:onclick="${@followService.addTopicFollowing(topic.id)}">
             <i class="material-icons" th:text="${topic.followedByUser} == true ? 'visibility' : 'visibility_off'"></i>
         </a>-->
      </td>
      <td>
        <a sec:authorize="hasRole('ADMIN')"
           th:href="@{'/projets/'+ ${topic.projet.id}+'/topics/edit/'+${topic.id}}">
          <span th:text="#{edit}"></span>
        </a>
      </td>
    </tr>
    </tbody>
  </table>

</section>

</html>