<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">
<head>
  <title>Utilisateurs</title>
</head>

<section layout:fragment="mainContent">

  <table class="striped">

    <thead>
    <tr>
      <th><span th:text="#{register.username}"></span></th>
      <th><span th:text="#{register.email}"></span></th>
      <th><span th:text="#{register.date}"></span></th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="utilisateur : ${utilisateurs}">
      <td>
        <p th:text="${utilisateur.pseudo}"/>
      </td>
      <td>
        <p th:text="${utilisateur.email}"/>
      </td>
      <td>
        <p th:text="${#dates.format(utilisateur.inscription, 'dd/MMM/yyyy')}"/>
      </td>
    </tr>
    </tbody>

  </table>
</section>
</html>