<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:text-align="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/main">
<head>
    <title>Ajouter projet</title>
</head>

<section layout:fragment="mainContent">
    <form class="col s12" action="#" th:action="@{/projets/save}" th:object="${project}" th:method="post">

        <!-- ID -->
        <div class="row">
            <div class="input-field col s12">
                <input id="id" hidden="true" th:field="*{id}"/>
            </div>
        </div>

        <!-- NOM -->
        <div class="row">
            <div th:if="${#fields.hasErrors('nom')}">
                <div class="col s12 card-panel red darken-1 center-align">
                    <span th:errors="*{nom}"/>
                </div>
            </div>

            <div class="input-field col s12">
                <input id="nom" type="text" th:field="*{nom}"/>
                <label for="nom"><span th:text="#{project.name}"></span></label>
            </div>
        </div>

        <!-- DESCRIPTION -->
        <div class="row">
            <div class="input-field col s12">
                <textarea id="description" class="materialize-textarea" th:field="*{description}"></textarea>
                <label for="description"><span th:text="#{project.description}"/></label>
            </div>
        </div>


        <!-- DROITS DES UTILISATEURS -->
        <div th:replace="layout/rights :: rights"></div>


        <!-- SUBMIT -->
        <button class="btn waves-effect waves-light  teal lighten-2" type="submit" name="action">
            <span th:text="*{id} != null ? #{edit} : #{add}"></span>
            <i class="material-icons right">send</i>
        </button>

    </form>
</section>

<script layout:fragment="script" th:replace="layout/rights :: rights_js">
</script>


</html>