<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">
<head>
  <title>Message</title>
</head>


<section layout:fragment="mainContent">

  <nav>
    <div class="nav-wrapper teal lighten-3">
      <div class="col s12">
        <a th:href="@{'/projets/'+ ${topic.projet.id}+'/topics'}" class="breadcrumb"
           th:text="${topic.projet.nom}"></a>
        <a class="breadcrumb" th:text="${topic.nom}"></a>
      </div>
    </div>
  </nav>



  <div th:each="message : ${messageList}">

    <div class="col s12 m6">
      <div class="card blue-grey lighten-5">
        <div class="card-content black-text">
          <p th:utext="${message?.contenu}"/>
        </div>
        <div class="card-action">
          <span th:text="#{message.contenu}"/>
          <b><span th:text="${message?.utilisateur?.pseudo}"/></b>
          <span th:text="#{message.date}"/>
          <b><span th:text="${#dates.format(message?.date, 'dd-MM-yyyy')}"/></b>
        </div>
      </div>
    </div>

  </div>

  <form class="col s12" action="#"
        th:if="${@userPermissionEvaluator.hasPermission(null, topic, T(com.miage.m2.webappforum.entity.TypePermissionEnum).WRITE) and topic?.ouvert == true}"
        th:action="@{'/projets/'+ ${topic.projet.id} + '/topics/'+ ${topic.id} + '/messages/save'}"
        th:object="${message}" th:method="post">

    <div class="row">
      <div th:if="${#fields.hasErrors('contenu')}">
        <div class="col s12 card-panel red darken-1 center-align">
          <span th:errors="*{contenu}"/>
        </div>
      </div>
    </div>


    <textarea id="froala-editor" th:field="*{contenu}"></textarea>
    <!-- SUBMIT -->
    <button onclick="maFunction()" class="btn waves-effect waves-light  teal lighten-2" type="post" name="action">
      <span th:text="#{add}"></span>
      <i class="material-icons right">send</i>
    </button>
  </form>
  
</section>

</html>