<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">
<head>
  <title>Message</title>
</head>


<section layout:fragment="mainContent">

  <nav>
    <div class="nav-wrapper">
      <div class="col s12">
        <a th:href="@{'/projets/'+ ${topic.projet.id}+'/topics'}" class="breadcrumb"
           th:text="${topic.projet.nom}"></a>
        <a class="breadcrumb" th:text="${topic.nom}"></a>
      </div>
    </div>
  </nav>

  <div th:each="message : ${messageList}">

    <div class="col s12 m6">
      <div class="card blue-grey lighten-5">
        <div class="card-content black-text">
          <p th:utext="${message?.contenu}"/>
        </div>
        <div class="card-action">
          <span th:text="#{message.contenu}"/>
          <b><span th:text="${message?.utilisateur?.pseudo}"/></b>
          <span th:text="#{message.date}"/>
          <b><span th:text="${#dates.format(message?.date, 'dd-MM-yyyy')}"/></b>
        </div>
      </div>
    </div>

  </div>



  <form class="col s12" action="#"
        th:action="@{'/projets/'+ ${topic.projet.id} + '/topics/'+ ${topic.id} + '/messages/save'}"
        th:object="${message}" th:method="post">

    <textarea id="froala-editor" th:field="*{contenu}"></textarea>
    <!-- SUBMIT -->
    <button onclick="maFunction()" class="btn waves-effect waves-light" type="post" name="action">
      <span th:text="#{add}"></span>
      <i class="material-icons right">send</i>
    </button>
  </form>


</section>

<script layout:fragment="script">
  function maFunction() {
    alert(value.length);
  }
</script>
</html>